# PostgreSQL
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=your_database_name_here
AIRFLOW_DB=your_airflow_metadata_db_name_here

# Airflow
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin

# Generate this key by running the command below
AIRFLOW_FERNET_KEY=AIRFLOW_FERNET_KEY=YOUR_FERNET_KEY_HERE

# Get free key at https://openexchangerates.org/signup/free
OPEN_EXCHANGE_RATES_APP_ID=YOUR_APP_ID_HERE

DBT_PROFILES_DIR=./dbt_project