# PostgreSQL
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_password
POSTGRES_DB=etl_pipeline
AIRFLOW_DB=airflow_metadata

# Airflow
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin

# Generate this key by running the command below
AIRFLOW_FERNET_KEY=okNtDPjwQenScP681dUigNWns-sXjjFxtQ1vQuh9bC4=

# Get free key at https://openexchangerates.org/signup/free
OPEN_EXCHANGE_RATES_APP_ID=a759065375c34dc5957d1dbd1540c181

DBT_PROFILES_DIR=./dbt_project